<div class="ui-demo-container">
  <h1>UI Library Integration Demo</h1>
  
  <!-- ボタンセクション -->
  <nz-card nzTitle="ボタンの例">
    <div class="button-group">
      <button nz-button nzType="primary" (click)="handleButtonClick('primary')">
        <fa-icon [icon]="faCheck"></fa-icon>
        Primary Button
      </button>
      
      <button nz-button nzType="default" (click)="handleButtonClick('default')">
        <fa-icon [icon]="faUser"></fa-icon>
        Default Button
      </button>
      
      <button nz-button nzType="dashed" (click)="handleButtonClick('dashed')">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        Dashed Button
      </button>
      
      <button nz-button nzType="link" (click)="handleButtonClick('link')">
        <fa-icon [icon]="faHeart"></fa-icon>
        Link Button
      </button>
    </div>
  </nz-card>
  
  <!-- アイコンセクション -->
  <nz-card nzTitle="FontAwesome アイコンの例">
    <div class="icon-group">
      <div class="icon-item">
        <fa-icon [icon]="faHeart" size="2x"></fa-icon>
        <span>Solid Heart</span>
      </div>
      
      <div class="icon-item">
        <fa-icon [icon]="faHeartRegular" size="2x"></fa-icon>
        <span>Regular Heart</span>
      </div>
      
      <div class="icon-item">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        <span>GitHub</span>
      </div>
      
      <div class="icon-item">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        <span>Twitter</span>
      </div>
      
      <div class="icon-item">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        <span>LinkedIn</span>
      </div>
    </div>
  </nz-card>
  
  <!-- フォームセクション -->
  <nz-card nzTitle="フォームの例">
    <form nz-form>
      <nz-form-item>
        <nz-form-label>ユーザー名</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzPrefix]="userIcon">
            <input 
              nz-input 
              placeholder="ユーザー名を入力"
              [value]="userName()"
              (input)="userName.set($any($event.target).value)"
            />
          </nz-input-group>
          <ng-template #userIcon>
            <fa-icon [icon]="faUser"></fa-icon>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label>メールアドレス</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzPrefix]="emailIcon">
            <input 
              nz-input 
              placeholder="メールアドレスを入力"
              [value]="email()"
              (input)="email.set($any($event.target).value)"
            />
          </nz-input-group>
          <ng-template #emailIcon>
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control>
          <button 
            nz-button 
            nzType="primary" 
            [nzLoading]="isLoading()"
            (click)="handleSubmit()"
          >
            <fa-icon [icon]="faCheck"></fa-icon>
            送信
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  
  <!-- テーブルセクション -->
  <nz-card nzTitle="テーブルの例">
    <nz-table [nzData]="tableData()">
      <thead>
        <tr>
          <th>ID</th>
          <th>タスク名</th>
          <th>ステータス</th>
          <th>優先度</th>
        </tr>
      </thead>
      <tbody>
        @for (data of tableData(); track data.id) {
          <tr>
            <td>{{ data.id }}</td>
            <td>
              <fa-icon [icon]="faCircle"></fa-icon>
              {{ data.name }}
            </td>
            <td>{{ data.status }}</td>
            <td>{{ data.priority }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>
